{%  extends 'base.html.twig' %}

{% block body  %}

    <div class="card mx-auto" style="margin-top: 20px;">
        <div class="card-header">
            BD Tendances
        </div>

        <ul class="list-group list-group-horizontal-lg d-flex justify-content-around">
            {% for  BDTendance in BDTendances%}
            <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 5px;">
                {{ BDTendance.getTitre() }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card mx-auto" style="margin-top: 20px;">
        <div class="card-header">
            Comics Tendances
        </div>
        <ul class="list-group list-group-horizontal-lg d-flex justify-content-around">
            {% for ComicTendance in ComicsTendances%}
                <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 5px;">
                    {{ ComicTendance.getTitre() }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card mx-auto" style="margin-top: 20px;">
        <div class="card-header">
            Mangas Tendances
        </div>
        <ul class="list-group list-group-horizontal-lg d-flex justify-content-around">
            {% for MangaTendance in MangasTendances%}
                <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 5px;">
                    {{ MangaTendance.getTitre() }}
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}