{%  extends 'base.html.twig' %}

{% block body  %}

    <ul class="list-unstyled">
        {% for BandeDessinee in BandeDessinees  %}
        <li class="media my-4">
            <img src="/img/affiche_test.jpg" class="mr-3" style="height: 200px" alt="affiche_test.jpg">
            <div class="media-body">
                <a href="/BD/{{ BandeDessinee.getId() }}"><h5 class="mt-0 mb-1">{{ BandeDessinee.getTitre() }}</h5></a>
                <p class="font-weight-bold">{{ BandeDessinee.getDateDeParution()|date("m/d/Y") }}</p>
                <p>{{ BandeDessinee.getDescription() }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% if BandeDessinees == NULL %}
        <div class="alert alert-danger mt-5" role="alert">
            Aucun résultat n'a été trouvé. Vous pouvez <a href="/" class="alert-link">revenir à l'accueil</a>.
        </div>
    {% endif %}

{% endblock %}