{%  extends 'base.html.twig' %}

{% block body  %}

    <ul>
        {% for BandeDessinee in BandeDessinees  %}
            <li> <a href="http://mpapws.loc:9999/BD/{{ BandeDessinee.getId() }}"> {{ BandeDessinee.getTitre() }} </a></li>
        {% endfor %}
    </ul>
    <img src="/img/image.jpg">

{% endblock %}