{%  extends 'base.html.twig' %}

{% block body  %}

    <ul>
        {% for BandeDessinee in BandeDessinees  %}
            <li> {{ BandeDessinee.getTitre() }}</li>
        {% endfor %}
    </ul>
    <img src="/img/image.jpg">

{% endblock %}