<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <title>{% block title %}Biblio{% endblock %}</title>
        {% block stylesheets %} {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top header">
        <a class="navbar-brand text-light logo-biblio" href="http://mpapws.loc:9999/"><img src="/img/logo-biblio.svg" style="width: 80px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bandes dessinées
                    </a>
                    <div class="dropdown-menu header-sousmenu" aria-labelledby="navbarDropdown" >
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Aventure" >Aventure</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Humour">Humour</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Super-Heros">Super-Héros</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Policier" >Policier</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Science-Fiction">Science-Fiction</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Historique">Historique</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Fantasy" >Fantasy</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Divers">Divers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD/Tendances">Les tendances </a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/BD">Voir tout </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mangas
                    </a>
                    <div class="dropdown-menu header-sousmenu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Aventure" >Aventure</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Humour">Humour</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Super-Heros">Super-Héros</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Policier" >Policier</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Science-Fiction">Science-Fiction</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Historique">Historique</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Fantasy" >Fantasy</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Divers">Divers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas/Tendances">Les tendances </a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Mangas">Voir tout </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Comics
                    </a>
                    <div class="dropdown-menu header-sousmenu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Aventure" >Aventure</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Humour">Humour</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Super-Heros">Super-Héros</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Policier" >Policier</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Science-Fiction">Science-Fiction</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Historique">Historique</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Fantasy" >Fantasy</a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Divers">Divers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics/Tendances">Les tendances </a>
                        <a class="dropdown-item text-light" href="http://mpapws.loc:9999/listeBD/Comics">Voir tout </a>
                    </div>
                </li>

            </ul>
            <button type="button" class="btn btn-light" style="margin-right: 30px;"> Ajouter votre BD</button>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Cherchez une BD" aria-label="Search">
                <button id="search-button" class="btn btn-outline-light my-2 my-sm-0" type="submit"> <img id="search-icon" src="/img/search.png"></button>
            </form>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer id="sticky-footer" class="py-4 text-white-50" style="background-color: #23374D">
        <div class="container text-center">
            <small>Biblio - Le site qui vous donnera envie de BD !</small>
        </div>
    </footer>

    {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
